<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SitScape{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('style.css') }}">
</head>
<body>
    {# <nav class="navbar">
        <ul>
            <li><a href="{{ path('home') }}" class="nav-link">Accueil</a></li>
            <li><a href="{{ path('gallery') }}" class="nav-link">Gallery</a></li>
            <li><a href="{{ path('collection') }}" class="nav-link">Ma Collection</a></li>
            <li><a href="{{ path('contact') }}" class="nav-link">Contact</a></li>
        </ul>
    </nav> #}
    <main>
        {% block body %}{% endblock %}
    </main>
</body>
</html>
